# PyCharm
.idea/

# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Documentation
*.md
*.txt

# Local strategy data
saved_strategies.json
saved_strategies.json
ui/strategy_builder_tab.py.tmp.9644.1773737781762
saved_group_sets.json
